In [2]:
import numpy as np

import pandas as pd
from pandas import Series,DataFrame

In [4]:
obj = Series([3,6,9,12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [5]:
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [6]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [9]:
ww2_cas = Series([87000,4300000,300000,210000],index =['user','india','japan','china'])
ww2_cas

user       87000
india    4300000
japan     300000
china     210000
dtype: int64

In [10]:
ww2_cas['india']

4300000

In [12]:
#check which countries has >4 million
ww2_cas[ww2_cas>400000]

india    4300000
dtype: int64

In [14]:
'ussr' in ww2_cas

False

In [15]:
ww2_dict = ww2_cas .to_dict()

In [17]:
ww2_dict

{'user': 87000, 'india': 4300000, 'japan': 300000, 'china': 210000}

In [18]:
ww2_series =Series(ww2_dict)
ww2_series

user       87000
india    4300000
japan     300000
china     210000
dtype: int64

In [21]:
countries =['china','india','japan','ussr','pakistan']

In [22]:
obj2 = Series(ww2_dict,index = countries)
obj2

china        210000.0
india       4300000.0
japan        300000.0
ussr              NaN
pakistan          NaN
dtype: float64

In [23]:
pd.isnull(obj2)

china       False
india       False
japan       False
ussr         True
pakistan     True
dtype: bool

In [24]:
obj2

china        210000.0
india       4300000.0
japan        300000.0
ussr              NaN
pakistan          NaN
dtype: float64

In [25]:
ww2_series+obj2

china        420000.0
india       8600000.0
japan        600000.0
pakistan          NaN
user              NaN
ussr              NaN
dtype: float64

In [26]:
obj2.name = 'world war 2 casuualities'

In [27]:
obj2

china        210000.0
india       4300000.0
japan        300000.0
ussr              NaN
pakistan          NaN
Name: world war 2 casuualities, dtype: float64

In [29]:
obj2.index.name = "countries"
obj2

countries
china        210000.0
india       4300000.0
japan        300000.0
ussr              NaN
pakistan          NaN
Name: world war 2 casuualities, dtype: float64